body{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    background-color: rgb(186, 235, 235);
    padding: 10px;
    display: flex;
    justify-content: flex-end;    
}

nav ul{
    padding: 20px 40px;
    text-align: center;
    
}
nav ul li {
    list-style: none;
    display: inline;
    
}

nav ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(240, 72, 72);
    margin-right: 10px;

}
